.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 10px;
}

@media (min-width: 768px) {
  .controls {
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5rem;
  }
}
